.return_home_link:link {
    color: var(--color-primary);
}

.return_home_link:visited {
    color: var(--color-primary);
}

.return_home_link {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

article {
    padding: 2rem;
}

.error_message {
    margin-top: calc(50vh - var(--height-header));
}