.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.form div {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.input_fields_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}

.input_field {
    width: 600px;
    padding: 0.3rem;
    border-radius: 10px;
}

.input_field:focus {
    outline-color: var(--color-primary);
}

.error {
    color: red;
    font-size: 1.2rem;
}

.succes_text {
    margin-top: calc(50vh - var(--height-header));
}

.succes_link:visited {
    color: var(--color-primary);
}

.succes_link:link {
    color: var(--color-primary);
}