header {
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

}

header img {
    height: calc(0.75 * var(--height-header));
}

header nav ul {
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    gap: 3rem;
}

.active-menu-link {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary)
}

.default-menu-link {
    border-bottom: none;
    color: var(--color-white);
}